{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
    {cowboy, "*.*",
        {git, "https://github.com/ninenines/cowboy", {tag, "2.6.0"}}
    },
    {lager, "*.*",
        {git, "https://github.com/erlang-lager/lager", {tag, "3.8.0"}}
    },
    {trane, ".*",
        {git, "https://github.com/massemanet/trane", {tag, "1.0.1"}}
    }
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [erlmadao]}
]}.
